.btn {
  font-size: 20px;
  padding: 15px 60px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: 2px solid white;
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.775);
  cursor: pointer;
  transform: scale(1.05);
}
