@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15vh;
  color: white;
}

.tour-item {
  font-family: "Satisfy", cursive;
  margin: 0;
  font-size: 120px;
}

.london-item {
  margin: 0;
  font-size: 190px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-btn {
  margin: 0 20px;
}

@media screen and (max-width: 500px) {
  .tour-item {
    font-size: 80px;
  }

  .london-item {
    font-size: 90px;
  }
}
