@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.explore {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.908);
  height: 130vh;
  width: 100%;
}

.explore-heading {
  margin: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.explore-item {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 90px;
}

.culture-item {
  margin: 0;
  font-family: "Satisfy", cursive;
  font-size: 90px;
}

.text-item {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  width: 800px;
  text-align: center;
}

.img-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .explore {
    height: 180vh;
  }

  .img-flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .explore {
    height: 210vh;
  }

  .explore-item {
    font-size: 50px;
  }

  .culture-item {
    font-size: 50px;
  }

  .text-item {
    font-size: 16px;
    width: 400px;
  }
}
