@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.explore {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.908);
  height: 110vh;
  width: 100%;
}

.explore-heading {
  margin: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.explore-item {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 90px;
}

.culture-item {
  margin: 0;
  font-family: "Satisfy", cursive;
  font-size: 90px;
}

.text-item {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  width: 800px;
  text-align: center;
}
